*{
    box-sizing: border-box;    
}

header{
    background-color: aqua;
    min-height: 100vh;
    padding: 20px;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    color: inherit;
    border: 1px solid red;
    padding: 30px 20px;

}

h1{
    font-size: 2em;
    margin-bottom: 1em;
}

p{
    font-size: 1em;
    margin-bottom: 2em;
    /*  */
}