* {
  box-sizing: border-box;
}

.parent {
  border: 5px solid green;
  position: relative;
  width: 400px;
  height: 400px;
}

.child {
  border: 5px solid red;
  width: 100px;
  height: 100px;
}

.child:nth-child(1) {
  position: static;
}

.child:nth-child(2) {
  position: relative;
  background-color: yellow;
  bottom: 50px;
  left: 50px;
  z-index: -1;
}

.child:nth-child(3) {
  background-color: orange;
  position: absolute;
  bottom: 0px;
  right: 10px;
}

.child:nth-child(4) {
  background-color: aqua;
  position: absolute;
  top: 0px;
  right: 10px;
}

.child:nth-child(5) {
  background-color: green;
  position: absolute;
  right: -50px;
  bottom: -50px;
  border-radius: 50%;
  z-index: 4;
}

.child:nth-child(6) {
  position: fixed;
  background-color: lightblue;
  left: 0;
  bottom: 0;
  z-index: 3;
}

p{
  background-color: aquamarine;
  position: fixed;
  left: 10px;
  right: 10px;
  bottom: 5px;
  z-index: 4;
}

header {
  background-image: url(https://images.pexels.com/photos/1076758/pexels-photo-1076758.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bg-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
